@model IEnumerable<VirtualGradingSys.Models.Class>

@{
    ViewData["Title"] = "Index";
}



@if (User.IsInRole("Admin"))
{
    <h1>Classes</h1>
    <p>
        <a class="btn btn-primary" asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Year)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Letter)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Teacher)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Year)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Letter)
                    </td>
                    <td>
                        @if (item.Teacher != null)
                        {
                            @Html.DisplayFor(modelItem => item.Teacher.FullName)
                        }
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@if (User.IsInRole("Teacher"))
{
    <h1>Your Class</h1>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Year)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Letter)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TeacherId)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                @if (item.Teacher.Email == User.Identity.Name)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Year)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Letter)
                        </td>
                        <td>
                            @if (item.Teacher != null)
                            {
                                @Html.DisplayFor(modelItem => item.Teacher.FullName)
                            }
                        </td>
                        <td>
                            <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
}