@model IEnumerable<VirtualGradingSys.Models.Grade>

@{
    ViewData["Title"] = "Grades";
}

<h1>Grades</h1>

@if (User.IsInRole("Teacher") || User.IsInRole("Admin"))
{
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Index" method="get">
                <div class="form-group">
                    <label class="control-label">Start Date</label>
                    <input type="date" name="startDate" class="form-control" />
                </div>
                <div class="form-group">
                    <label class="control-label">End Date</label>
                    <input type="date" name="endDate" class="form-control" />
                </div>
                <div class="form-group">
                    <label class="control-label">Student</label>
                    <select name="studentId" class="form-control" asp-items="ViewBag.StudentId"></select>
                </div>
                <div class="form-group">
                    <input type="submit" value="Search" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    @foreach (var c in ViewBag.Classes)
    {
        <h2>@c.ClassName</h2>
        <a asp-action="Create" asp-route-classId=@c.Id>Add Grade</a>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Subject)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Student)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Type)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Value)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    @if (item.Student != null && item.Student.ClassId == c.Id)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Subject.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Student.FullName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Type)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Value)
                            </td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    }
}

@if (User.IsInRole("Student"))
{
    <table class="table">
        <thead>
            <tr>
            <th>
                @Html.DisplayNameFor(model => model.Subject)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Value)
            </th>
            <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                @if (item.Student.Email == User.Identity.Name)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Subject.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Type)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Value)
                        </td>
                        <td>
                            <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                        </td>
                        </tr>
                }
            }
        </tbody>
    </table>
}

@if (User.IsInRole("Parent"))
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Subject)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Student)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Type)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Value)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach(var student in ViewBag.Students)
            {
            @foreach (var item in Model)
            {
                @if (student.Parent.Email == User.Identity.Name && student.Email == item.Student.Email)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Subject.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Student.FullName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Type)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Value)
                        </td>
                        <td>
                            <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                        </td>
                    </tr>
                }
            }
            }
        </tbody>
    </table>
}